@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

$c-dark-cyan: hsl(158, 36%, 37%);
$c-darker-cyan: hsl(158, 36%, 20%);
$c-cream: hsl(30, 38%, 92%);
$c-very-dark-blue: hsl(212, 21%, 14%);
$c-dark-grayish-blue: hsl(228, 12%, 48%);
$c-white: hsl(0, 0%, 100%);
$ff-montserrat: 'Montserrat', sans-serif;
$ff-fraunces: 'Fraunces', serif;
